name: Build and Push Custom Image

on:
    schedule:
        - cron: "0 0 * * 1"
    workflow_dispatch:
    push:
        branches: ["main"]
        paths: ["Dockerfile", ".github/workflows/docker-publish.yml"]

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Fetch Latest EPAC Version
              id: get_version
              shell: pwsh
              run: |
                  $module = Find-PSResource -Name EnterprisePolicyAsCode -Repository PSGallery
                  echo "full=$($module.Version.ToString())" >> $GITHUB_OUTPUT
                  echo "major_minor=$($module.Version.Major).$($module.Version.Minor)" >> $GITHUB_OUTPUT
                  echo "major=$($module.Version.Major)" >> $GITHUB_OUTPUT

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log into registry ${{ env.REGISTRY }}
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract Docker metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                  tags: |
                      type=ref,event=branch
                      type=sha
                      type=raw,value=latest,enable={{is_default_branch}}
                      type=raw,value=${{ steps.get_version.outputs.full }}
                      type=raw,value=${{ steps.get_version.outputs.major_minor }}
                      type=raw,value=${{ steps.get_version.outputs.major }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  build-args: |
                      EPAC_VERSION=${{ steps.get_version.outputs.full }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
